@import "../../../../assets/styles/variable.scss";
@import '../../../../assets/styles/mybutton';

.blog-main {
	%common-header-style {
	    text-shadow: 1px 1px lightgrey;
	    font-weight: 300;
	    font-style: normal;
	    line-height: 40px;
	    text-align: center;
    	color: #081b33;	

		@media #{$large-and-up} {
			font-size: 5.5rem;
		}

		@media #{$medium-and-down} {
			font-size: 2.5rem;
		}

	}

	%common-text-style {
	    text-shadow: 1px 1px lightgrey;
	    font-weight: 300;
	    font-style: normal;
	    line-height: 40px;
	}

	.blog-banner {
		background: url('../../../../assets/blog_banner.png') no-repeat;
	    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		height: 220px;
		background-size: 100% 100%;

		.back {
		    height: 100%;

		    .home-btn {
				font-size: 16px;
				text-shadow: 0.5px 0.5px lightgrey;
		    	font-weight: 1000px;
		    }

	    }
	}

	.blog-main-content {
		.blog-header {
			.title { 
				@extend %common-header-style;
			}
		}

		.bg-content {
			@extend %common-text-style;
			font-size: 130%;
		    color: white;
		    text-align: center;
		    margin-right: 0px !important;

		    .bg-content-main {
			    border-radius: 10px;
			    background-color: #5B9BD5;
			    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			    cursor: pointer;
			    padding: 10px 0px;
			    margin-bottom: 20px;
			}

			.extend-text{
			    transition: all .9s ease;
			    max-height: 0;
			    overflow: hidden;
			}

			.has-height{
				max-height: 500px;
			}

		}

		.bg-content:hover {
			max-width: 62% !important;
			transition: all .4s ease;
			-webkit-transition: all .4s ease;
		}

		.pagination {
	     	list-style-type: none;
	 	}

	 	.subscribe {
			@extend %common-text-style;
			font-size: 30px;
		    color: #081b33;
		    text-align: center;
	 	}
	}

}