@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ng-select/ng-select/themes/material.theme.css";
@import '~@ngx-share/button/styles/share-buttons';
@import '~@ngx-share/button/styles/themes/default/default-theme';
@import './assets/styles/variable';

body {
	margin: 0px;
}


.signup-modal{
	.mat-dialog-container{
		@media #{$large-and-up} {
			width: 450px !important;
		}

		@media #{$medium-and-down} {
			width: 325px !important;
		}
	}
}